@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;900&display=swap');

/********************/
/***** Defaults *****/
/********************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #2E3440;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 32px;
  color: #5E81AC;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #81A1C1;
  padding: 10px;
  text-align: center;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: white;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #E5E9F0;
  padding: 10px;
}

p, li {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;
  color: #E5E9F0;
  padding: 1px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

/**********************/
/***** Navigation *****/
/**********************/

.header {
  height: 65vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/banner.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.header h1 {
  margin: auto;
  text-align: center;
  margin-top: 65px;
  color: #5E81AC;
}

.header p {
  margin: auto;
  text-align: center;
  color: #E5E9F0;
}

nav {
  display: flex;
  padding: 1% 2%;
  justify-content: space-between;
  align-items: center;
}

.nav_links {
  flex: 1;
  text-align: right;
}

.nav_links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 10px;
  position: relative;
}

.nav_links ul li::after {
  content: ''; 
  width: 0%;
  height: 2px; 
  background: #e41303; 
  display: block;
  margin: auto;
  transition: 0.4s ease;
}

.nav_links ul li:hover::after { 
  width: 100%;
}

.nav_links ul li a {
  color: white;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.logo_nav {
  color: white;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 18px;
}

.main_logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

nav .fa-solid {
  display: none;
}

/*****************/
/***** Cards *****/ /* Originally Intended For Our Process Page */
/*****************/

.home-about {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 80px;
}


.home-about_column {
  flex-basis: 31%;
  aspect-ratio: 1/1.25;
  margin-bottom: 5%;
  perspective: 900px;
}

.home-about_column:hover {
  cursor: pointer;
}

.home-about_column:hover > .card, .process_column:focus > .card {
  transform: rotateY(180deg);
}

.process {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 80px;
}


.process_column {
  flex-basis: 31%;
  aspect-ratio: 1/1.25;
  margin-bottom: 5%;
  perspective: 900px;
}

.process_column:hover {
  cursor: pointer;
}

.process_column:hover > .card, .process_column:focus > .card {
  transform: rotateY(180deg);
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.front,
.back {
  border-radius: 10px;
  min-height: 100%;
  width: 100%;
  backface-visibility: hidden;
  position: absolute;
  display: grid;
  place-content: center;
}

.front {
  transform: rotateX(0deg);
  height: 100%;
  background-position: center;
  background-size: cover;
}

.back {
  padding: 1em;
  background-color: rgba(228,19,3, 0.5);
  transform: rotateY(180deg);
  height: fit-content;
}

.back ul {
  margin: auto;
  width: fit-content;
}

.back li {
  text-align: initial;
}

/*******************/
/***** Clients *****/
/*******************/

.previous-work {
  border-radius: 10px;
  width: 95%;
}

/**********************************/
/***** Call To Action (Index) *****/
/**********************************/

.cta {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/cta.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}

.cta h1 {
  margin-bottom: 40px;
  font-size: 42px;
  padding: 0;
  color: #5E81AC;
}

.hero_button {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 12px 34px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  background: transparent;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 10px;
}

.hero_button:hover {
  border: 1px solid #e41303;
  background: #e41303;
  transition: 0.5s;
}

/******************/
/***** Footer *****/
/******************/

.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer h2 {
  margin-bottom: 25px;
  margin-top: 20px;
  color: #81A1C1;
}

.fa-brands {
  color: white;
  transition: 1s;
  cursor: pointer;
  margin-bottom: 20px;
  padding: 0px 6px;
  width: 30px;
  height: 30px;
}

.fa-brands:hover {
  color: #e41303;
  transition: 1s;
}

/*******************************/
/***** Second Header Style *****/
/*******************************/

.subheader {
  height: 30vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/nashville_crossroads.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
}

.subheader h1 {
  margin-top: 60px;
  color: #5E81AC;
}

.theteam {
  width: 90%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.team_column {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.team_column img {
  width: 100%;
  display: block;
}

.team_column video {
  width: 100%;
  display: block;
}

.layer {
  background-color: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  background-color: rgba(228,19,3, 0.7);
  transition: 0.5s;
}

.layer h2 {
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
  color: #81A1C1;
}

.layer:hover h2 {
  bottom: 49%;
  opacity: 1;
  transition: 0.5s;
}

.layer p {
  width: 100%;
  bottom: 0;
  left: 50%;
  font-size: 20px;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layer:hover p {
  bottom: 46%;
  opacity: 1;
  transition: 0.5s;
}

/*********************************/
/***** Contact Us Page Stuff *****/
/*********************************/

.location {
  width: 80%;
  margin: auto;
  padding: 80px 0;
}

.location iframe {
  width: 100%;
}

.contact-us {
  width: 80%;
  margin: auto;
}

.contact-col {
  flex-basis: 48%;
  margin-bottom: 30px;
}

.contact-col div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.contact-col div .fa-solid {
  font-size: 16;
  color: white;
  margin: 10px;
  margin-right: 30px;
}

.contact-col p {
  color: white;
  text-decoration: none;
}

.contact-col input, .contact-col textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/****************/
/***** ID's *****/
/****************/

#myVideo {
  height: auto;
  max-width: 125%;
  min-width: 100%;
  transform: translate(calc((100% - 100vw) / -2));
}

#passioncard {
  background-image: linear-gradient(rgba(0,0,0, 0.7),rgba(0,0,0, 0.7)),url(images/ourpassion.jpg);
}

#analyticcard {
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/analytical.jpg);
}

#storycard {
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/yourstory.jpg);
}

#socialcard {
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/marketing.jpg);
}

#designcard {
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/designing.jpg);
}

#videocard {
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/videography.jpg);
}

#servicesubh {
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/nashville_star.jpg);
}

#worksubh {
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/printers_alley.jpg);
}

#processsubh {
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/bridgestone.jpeg);
}

#contactsubh {
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/delivery.jpg);
}

@media(max-width: 1125px) {
  html, body {overflow-x: hidden;}

  .nav_links ul li {
    display: block;
  }
  .nav_links {
    position: fixed;
    background: #e41303;
    height: 100vh;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa-solid {
    display: block;
    color: white;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
  }
  .nav_links ul {
    padding: 30px;
  }
  .row {
    flex-direction: column;
  }
  .cta h1 {
    font-size: 20px;
    color: #5E81AC;
  }
  .layer {
    background-color: rgba(228,19,3, 0.4);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
  }
  .layer h2 {
    bottom: 60%;
    opacity: 1;
    transition: 0.5s;
    color: #81A1C1;
  }
  .layer p {
    bottom: 49%;
    opacity: 1;
    transition: 0.5s;
  }
  .layer2 {
    background-color: rgba(228,19,3, 0.4);;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
  }
  .layer2 h2 {
    bottom: 75%;
    opacity: 1;
    transition: 0.5s;
    color: #81A1C1;
  }
  .layer2:hover h2 {
    bottom: 75%;
    opacity: 1;
    transition: 0.5s;
  }
  .layer2 p {
    bottom: 10%;
    opacity: 1;
    transition: 0.5s;
  }
  .lowerh2 {
    background-color: rgba(228,19,3, 0.4);;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
    color: #81A1C1;
  }
  .lowerh2 h2 {
    bottom: 60%;
    opacity: 1;
    transition: 0.5s;
  }
  .lowerh2 p {
    bottom: 10%;
    opacity: 1;
    transition: 0.5s;
  }
}