:root {
	--brand-color: ;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}
body {
	background-color: #fff;
	color: black;
}
.header {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/banner.png);
	background-position: center;
	background-size: cover;
	position: relative;
}
nav {
	display: flex;
	padding: 2px px;
	justify-content: space-between;
	align-items: center;
}
nav img {
	width: 150px;
}
.nav-links {
	flex: 1;
	text-align: right;
}
.nav-links ul li {
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.nav-links ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 13px;
}

.nav-links ul li::after {
	content: '';
	width: 0%;
	height: 2px;
	background-color: #f44336;
	display: block;
	margin:auto;
}

.nav-links ul li:hover::after {
	content: '';
	width: 100%;
	height: 2px;
	background-color: #f44336;
	display: block;
	margin:auto;
	transition: 0.55s;
}
.text-box {
	width: 90%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.text-box h1 {
	font-size: 62px;
}
.text-box p {
	margin: 10px 0 40px;
	font-size: 14px;
	color: #fff;
}

.hero-btn {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 12px 34px;
	font-size: 13px;
	background: transparent;
	position: relative;
	cursor: pointer;
}
.hero-btn:hover {
	border: 1px solid #f44336;
	background-color: #f44336;
	transition: 1s;
}

nav .fa {
	display: none;
}

@media(max-width: 700px){
	.text-box h1 {
		font-size: 20px;
	}
	.nav-links ul li {
		list-style: none;
		display: block;
		padding: 8px 12px;
		position: relative;
	}
	.nav-links {
		position: fixed;
		background: #f44336;
		height: 100vh;
		width: 200px;
		top: 0;
		right: -200px;
		text-align: left;
		z-index: 2;
		transition: 1s;
	}
	nav .fa {
		display: block;
		color: #fff;
		margin: 10px;
		font-size: 22px;
		cursor: pointer;
	}
	.nav-links ul {
		padding: 30px;
		position:absolute;
	}
}

.home {
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}
h1 {
	font-size: 36px;
	font-weight: 600;
}
p {
	color: #777;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}
.row {
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}
.home-col {
	flex-basis: 31%;
	background-color: #fff3f3;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	transition: 0.5s;
}
h3 {
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
}
.home-col:hover {
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width: 700px) {
	.row{
		flex-direction: column;
	}
}

.home2 {
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 50px;
}
.home2-col {
	flex-basis: 32%;
	border-radius: 10px;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
}
.home2-col img {
	width: 100%;
	display: block;
	height: 100%;
}
.layer {
	background: transparent;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s;
}
.layer:hover {
	background: rgba(226, 0, 0, 0.7);
}
.layer h3 {
	width: 100%;
	font-weight: 500;
	color: #fff;
	font-size: 26px;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	opacity: 0;
	transition: 0.5s;
}

.layer:hover h3 {
	bottom: 49%;
	opacity: 1;
}

.home-about {
		width: 90%;
		color: #777;
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		text-align: center;
		margin-top: 10px;
		align-items: center;
		justify-content: center;
}
.home-about h1 {
	color: black;
	font-size: 32px;
	font-weight: 600;
}
.home-about p {
	color: #222;
}
#about {
	transition: 1s;
}

.testomonials {
	width: 80%;
	margin: auto;
	padding-top: 100px;
	text-align: center;
}
.testomonials-col {
	flex-basis: 44%;
	border-radius: 10px;
	margin-bottom: 5%;
	text-align: left;
	background-color: #fff3f3;
	padding: 25px;
	cursor: pointer;
	display: flex;
}
.testomonials-col img {
	height: 40px;
	margin-left: 5px;
	margin-right: 30px;
	border-radius: 50%;
}
.testomonials-col:hover {
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.testomonials-col p {
	padding: 0;
}
.testomonials-col h3 {
	margin-top: 15px;
	text-align: left;
}
.testomonials-col .fa {
	color: #f44336;
}
@media(max-width: 700px) {
	.testomonials-col img {
		margin-left: 0px;
		margin-right: 15px;
	}
}

.cta {
	margin: 100px auto;
	width: 80%;
	background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/banner.png);
	background-position: center;
	background-size: cover;
	border-radius: 10px;
	text-align: center;
	padding: 100px 0;
}
.cta h1 {
	color: #fff;
	margin-bottom: 40px;
}
@media(max-width: 700px) {
	.cta h1 {
		font-size: 24px;
	}
}
.footer {
	width: 100%;
	text-align: center;
	padding: 30px 0;
}
.footer h4 {
	margin-bottom: 25px;
	margin-top: 20px;
	font-weight: 600;
}
.icons .fa {
	margin: 0 13px;
	cursor: pointer;
	padding: 18px 0;
	transition: 0.5s;
}
.icons a {
	color: #222;
}
.icons .fa:hover {
	color: #f44336;
}
.fa-heart-o {
	color: #f44336;
}
.icons img {
	width: 20px;
	height: 20px;
	filter: grayscale(100%);
	transition: 0.5s;
	cursor: pointer;
}
.icons img:hover {
	filter: grayscale(0%);
	transition: 0.5s;
}

.sub-header {
	height: 50vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/banner.png);
	background-position: center;
	background-size: cover;
	text-align: center;
	color: #fff;
}
.sub-header h1 {
	margin-top: 100px;
}
.about {
	width: 80%;
	margin: auto;
	padding-top: 80px;
	padding-bottom: 50px;	
}
.about-box {
	width: 77%;
	text-align: center;
	padding-left: 10%;
}
.about-col img {
	width: 100%;
}
.about-col h1 {
	padding-top: 0;
}
.about-col p {
	padding: 15px 0 25px;
}
.red-btn {
	border: 1px solid#f44336;
	background: transparent;
	color: #f44336;
	transition: 0.5s;
}
.red-btn:hover {
	color:#fff;	
}

.blog-content {
	width: 80%;
	margin: auto;
	padding: 60px 0;
}
.blog-left {
	flex-basis: 65%;
}
.blog-left img {
	width: 100%;
}
.blog-left h2 {
	color: #222;
	font-weight: 600;
	margin: 30px 0;
}
.blog-left p {
	color: #999;
	padding: 0;
}

.blog-right {
	flex-basis: 32%;
}
.blog-right h3 {
	background: #f44336;
	color: #fff;
	padding: 7px 0;
	font-size: 16px;
	margin-bottom: 20px;
}
.blog-right div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #555;
	padding: 8px;
	box-sizing: border-box;
}

.comment-box {
	border: 1px solid #ccc;
	margin: 50px 0;
	padding: 10px 20px;
}
.comment-box h3 {
	text-align: left;
}
.comment-form  input, .comment-form textarea {
	width: 100%;
	padding: 10px;
	margin: 15px 0;
	box-sizing: border-box;
	border: none;
	outline: none;
	background: #f0f0f0;
}
.comment-form button {
	margin: 10px 0;
}

@media(max-width: 700px) {
	.sub-header h1 {
		font-size: 24px;
	}
}
.blog-card {
	border: 3px solid #f44336;
	border-radius: 10px;
}
.blog-card img {
	border-radius: 10px;
}
.blog-card:hover {
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
	transition: 0.5s;
}
.location {
	width: 80%;
	margin: auto;
	padding: 80px 0;
}
.location iframe {
	width: 100%;
}

.contact {
	width: 80%;
	margin: auto;
}

.contact-col {
	flex-basis: 48%;
	margin-bottom: 30px;
}

.contact-col div {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}

.contact-col div .fa {
	font-size: 28px;
	color: #f44336;
	margin: 10px;
	margin-right: 30px;
}

.contact-col div p {
	padding: 0;
}
.contact-col div h5 {
	font-size: 20px;
	margin-bottom: 5px;
	color: #555;
	font-weight: 400;
}

nav ul,
nav ol, 
nav li {
    margin: 0;
    padding: 0;
}
nav a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: #d0d0d0;
}
nav ul ul {
    max-width: 11em;
    background: transparent;
    position: absolute;
    z-index: 99;
    display: none;
	text-align: center;
	transition: 1s;
}
nav li:hover ul {
    display: block;
}
nav ul ul li {
    width: 100%;
}
/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 80%; /* Full width */
  background-color: #ddd; /* Grey background */
  margin: auto;
}

.skills {
  text-align: center; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
  
}
.skills h2 {
	color: #222;
	text-decoration: underline;
}

.html {width: 90%; background-color: #04AA6D;}
.css {width: 90%; background-color: #2196F3;}
.js {width: 25%; background-color: #e2e605;}
.python {width: 60%; background-color: #1512bd;}

.rainbow-text {
	background-image: repeating-linear-gradient(45deg, violet, rgb(91, 91, 255), green, yellow, orange, red, violet);
	text-align: center;
	background-size: 800% 800%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 24px;
	animation: rainbow 50s ease infinite;
  }
  
  @keyframes rainbow { 
	  0%{background-position:0% 50%}
	  50%{background-position:100% 25%}
	  100%{background-position:0% 50%}
  }