* {
	margin: 0;
	padding: 0;
	font-family: 'Poppi';
}
.header {
	min-height: 100vh;
	width: 100%;
	background-color: #333;
	position: relative;
}
nav {
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}
nav img {
	width: 150px;
}
.nav-links {
	flex: 1;
	text-align: right;
}
.nav-links ul li {
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.nav-links ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 13px;
}